@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --body-bg:rgba(0, 0, 0, 0.978);
    --body-color:#F6F6F6;
    --link-color:#F6F6F6;
    --button-color:#22D4FD;
    --button-darkmode:rgb(255, 255, 255);
}
.dark-mode:root{
    --body-bg:#e1e6d3;
    --body-color:#0c0636;
    --link-color:#095169;
    --button-color:#059b9a;
    --button-darkmode:black;
}
body {
    box-sizing: border-box;
    height: 100vh;
    background-color: var(--body-bg);
    color: var(--body-color);


}
a{
    color:var(--link-color);
    &:hover{
        color:var(--link-color);
    }
}
.titulo_destaque{
    color: var(--button-color);
}
.dark__topo{
    color:var(--body-bg);
    display:flex;
    align-items:flex-start;
    border-radius: 10px;
    font-family:'Montserrat', sans-serif;
    background-color: var(--button-darkmode);
    width: 7.2%;
    justify-content: space-around;
}
.apresentacao__links{
    color: var(--link-color);
    display:flex;
    justify-content: space-between;
    font-size:24px;
}
.apresentacao__links__link{
    display:flex;
    border-radius: 16px;
    align-items: center;
    justify-content:center;
    font-family: 'Montserrat', sans-serif;
    color:var(--body-bg);
    background-color: var(--button-color);
    width: 280px;
    height: 79px;
    text-decoration: none;
    font-weight: 600;
}

.apresentacao{
    margin: 10% 15%;
    justify-content: space-between;
    display:flex;
    align-items:center;
}
.imagem{
    width: 467.705px;
    height: 532px;
}
.apresentacao__conteudo{
    width: 615px;
    gap: 40px;
    display:flex;
    flex-direction: column;
}
.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}
.apresentacao__conteudo__paragrafo{
    font-size:24px;
    font-family: 'Montserrat', sans-serif;

}